In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [61]:
a = np.array([[5,6,2,4,3],[4,8,6,2,4]])

In [62]:
a.resize(10)

In [63]:
a

array([5, 6, 2, 4, 3, 4, 8, 6, 2, 4])

In [64]:
a.reshape(10)

array([5, 6, 2, 4, 3, 4, 8, 6, 2, 4])

In [65]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [66]:
np.random.uniform(0,100)

3.2432366718871064

In [67]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                          "bar", "bee", "bar", "bee"],
                    "B": ["one", "one", "one", "two", "two",
                      "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],'E':[7,8,4,5,12,1,2,6,4]})

In [68]:
df

     A    B      C  D   E
0  foo  one  small  1   7
1  foo  one  large  2   8
2  foo  one  large  2   4
3  foo  two  small  3   5
4  foo  two  small  3  12
5  bar  one  large  4   1
6  bee  one  small  5   2
7  bar  two  small  6   6
8  bee  two  large  7   4

In [69]:
pd.pivot_table(df,index=['A','C'])

                  D    E
A   C
bar large  4.000000  1.0
    small  6.000000  6.0
bee large  7.000000  4.0
    small  5.000000  2.0
foo large  2.000000  6.0
    small  2.333333  8.0

In [70]:
pd.pivot_table(df,index=['A','C'],aggfunc=np.max)

             B  D   E
A   C
bar large  one  4   1
    small  two  6   6
bee large  two  7   4
    small  one  5   2
foo large  one  2   8
    small  two  3  12

In [71]:
pd.pivot_table(df,index=['A','C'],values=['E'])

           E
A   C
bar large  1
    small  6
bee large  4
    small  2
foo large  6
    small  8

In [72]:
pd.pivot_table(df,index=['A','C'],values=['E'],columns=['B'])

             E
B          one  two
A   C
bar large  1.0  NaN
    small  NaN  6.0
bee large  NaN  4.0
    small  2.0  NaN
foo large  6.0  NaN
    small  7.0  8.5

In [73]:
pd.pivot_table(df,index=['A','C'],values=['E'],columns=['B'],aggfunc=np.max)

             E
B          one   two
A   C
bar large  1.0   NaN
    small  NaN   6.0
bee large  NaN   4.0
    small  2.0   NaN
foo large  8.0   NaN
    small  7.0  12.0

In [74]:
pd.pivot_table(df,index=['A','C'],columns=['B'],fill_value=5)

            D       E
B         one two one  two
A   C
bar large   4   5   1  5.0
    small   5   6   5  6.0
bee large   5   7   5  4.0
    small   5   5   2  5.0
foo large   2   5   6  5.0
    small   1   3   7  8.5

In [75]:
pd.pivot_table(df,index=['A'],columns=['B'],values=['E'],aggfunc=np.sum)

      E
B   one two
A
bar   1   6
bee   2   4
foo  19  17

In [76]:
pd.pivot_table(df,index=['A'],columns=['B'],values=['E'],aggfunc=np.min)

      E
B   one two
A
bar   1   6
bee   2   4
foo   4   5

In [77]:
pd.pivot_table(df,columns=['B'],values=['E'],aggfunc=[np.max,len])

  amax     len
B  one two one two
E    8  12   5   4

In [78]:
df

     A    B      C  D   E
0  foo  one  small  1   7
1  foo  one  large  2   8
2  foo  one  large  2   4
3  foo  two  small  3   5
4  foo  two  small  3  12
5  bar  one  large  4   1
6  bee  one  small  5   2
7  bar  two  small  6   6
8  bee  two  large  7   4

In [83]:
pd.pivot_table(df,index=['A'],columns=['B'],margins=True,aggfunc=[np.max])

      amax
         C                 D           E
B      one    two    All one two All one two All
A
bar  large  small  small   4   6   6   1   6   6
bee  small  large  small   5   7   7   2   4   4
foo  small  small  small   2   3   3   8  12  12
All  small  small  small   5   7   7   8  12  12

In [82]:
pd.pivot_table(df,index=['A'],columns=['B'])

            D              E
B         one  two       one  two
A
bar  4.000000  6.0  1.000000  6.0
bee  5.000000  7.0  2.000000  4.0
foo  1.666667  3.0  6.333333  8.5

In [84]:
df

     A    B      C  D   E
0  foo  one  small  1   7
1  foo  one  large  2   8
2  foo  one  large  2   4
3  foo  two  small  3   5
4  foo  two  small  3  12
5  bar  one  large  4   1
6  bee  one  small  5   2
7  bar  two  small  6   6
8  bee  two  large  7   4

In [86]:
df.query('Manager==["A"]')

UndefinedVariableError: name 'Manager' is not defined